.animal-study-division {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.form-second-division {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

