.Activity3Main{
    width: 100%;
    background: #eae5e5;
    padding: 1em;
    height: 85vh;
    overflow-y: auto;
    position: relative;
}
.bold{
    font-weight: 600;
    
    text-transform: capitalize;
}

.infoActivity3{
     display: flex;
     background: rgb(218, 160, 180);
    justify-content: space-between;
    font: 1.25em sans-serif;
    padding: 0.5em;
    position: sticky;
    align-items: center;
    border-radius: 1.2em;
    margin-bottom: 10px;
    
}
.flex{
    display: flex;
    gap: 2em;
    padding: 0.2em;
    align-items: center;
}
.flexItem{
    flex: 1;
    padding: 10px;
    font-size: 15px;
    
}
.flexItem span{
    font-size: 15px;
}
.block{
    display: block;
}
/* .input1{
    display: inline-block;
} */
.infoGroupAct3{
        display: flex;
        background: rgb(167, 164, 165);
        justify-content: space-between;
        font: 1em sans-serif;
        padding: 0.5em;
        border-radius: 0px !important;
   
}
.GroupAnimal{
    background-color: rgb(229, 209, 216);
    border-top: 2px solid white;
}
.animal{
    padding-inline: 1em;
    border-top: 1px solid white;
}
.allTps{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.timepoint{
 width: 5em;
box-sizing: border-box;


}
.timepoint p{
    width: 100%;
    margin-bottom: 8px;
}
.timepoint input{
    width: 100%;
    padding: 2px 2px;
}

.collectedBy{
    display: flex;
    flex-direction: column;
}
.collectedBy input{
    
}
.collectedBy button{
    height: 16px;
    text-align: center;
    padding: 0;
    font-size: 10px;
    font-weight: bold;
    background-color: #7CF5FF;
}

.smallBtn{
    font-size: 12px;
    padding: 3px;
    border-radius: 2px;
    background: #6A9C89;
}